@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto&display=swap");
/* This will give styling to all elements. Good for setting default styling. */
:root {
  /* border: 3px solid red; */
  --dark-gray: rgb(49, 49, 49);
  /* CSS Variables */
  --tan: #d9ebd9;
  --light-blue: #7298b3;
  --purple: #35218c;
  --dark-blue: #3c6198;
  --dark-green: #151b1a;
  --roboto: "Roboto", sans-serif;
  --henny: "Henny Penny", cursive;

  font-family: var(--roboto);
  background: var(--dark-green);
  color: var(--tan);
}

.background-solid {
  /* background-color: #181818a1; */
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
* {
  border: 5px solid red;
} */

.blue {
  color: blue;
}

/* Will style any element with this class */
.cool {
  color: rebeccapurple;
  background: lightgreen;
  border: 2px groove gold;
  width: fit-content;
  padding: 5px;
}

/* The h1's selector */
h1 {
  /* border: 2px solid red; */
  padding: 3px;
  width: fit-content;
  font-family: var(--henny);
  color: var(--light-blue);
  font-size: var(--default-size);
}

/* The h1's class */
h1.page-heading {
  border: 2px solid blue;
  font-size: 50px;
}

/* The h1's id selector */
h1#page-heading {
  border: none;
  font-size: 50px;
  margin: 20px 6px;
}

.quiz-button {
  background-color: var(--purple);
  color: var(--tan);
  border: 1px solid var(--tan);
  transition-duration: 0.3s;
}

.quiz-button:hover {
  background-color: var(--tan);
  color: var(--purple);
  cursor: pointer;
  box-shadow: 0px 2px 5px 1px #ffffff3b;
}

.quiz-button:active {
  transform: scale(90%);
}

.question-box {
  background-color: var(--dark-blue);
  padding: 2px 13px;
  border-radius: 43px 0px;
}
.correct-answer {
  color: green;
}

.wrong-answer {
  color: #ffd854;
}

#answer-input {
  background-color: var(--tan);
  color: var(--dark-green);
  padding: 6px;
  font-size: 17px;
  border-radius: 5px;
}
